*{
	box-sizing: border-box;
	margin : 0;
	padding : 0;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	height : 100vh;
}

.container{
	width : 800px;
	height : 500px;
	border-radius: 20px;
	padding : 20px;
	font-size: 2rem;
	color : black;
	text-align: center;
	background-color: aquamarine;
	border : 2px solid black;
	min-width: 300px;
}

.heading{
	margin : 50px;
}

.size::after{
	content : "1440px";
}

@media screen and (max-width : 1440px){
	div{
		background-color : green ;
	}

	.size{
		content : "1440px";
	}
}

@media screen and (max-width : 1024px){
	div{
		background-color: rgb(177, 108, 6) ;
	}

	.size::after{
		content : "1024px";
	}

}

@media screen and (max-width : 768px){
	div{
		background-color : cyan ;
	}

	.size::after{
		content : "768";
	}

}

@media screen and (max-width : 425px){
	div{
		background-color : brown ;
	}

	.size::after{
		content : "425px";
	}
}